################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sitecore.SharedSource.DataSync/bin
/Sitecore.SharedSource.DataSync/obj
/Sitecore.SharedSource.DataSync.Core/obj/IconCache
/Sitecore.SharedSource.DataSync.Core/Package_Debug
/Sitecore.SharedSource.DataSync.Master/bin
/Sitecore.SharedSource.Logger/bin
/Sitecore.SharedSource.Logger/obj/Debug
*.user
/Sitecore.SharedSource.Logger.Master/Debug/bin
/Sitecore.SharedSource.Logger.Master/bin/BuiltFiles_Debug.txt
/Sitecore.SharedSource.DataSync.Master/Debug
/Sitecore.SharedSource.DataSync.Master/obj/IconCache
/Sitecore.SharedSource.DataSync.Master/Package_Release
/Sitecore.SharedSource.DataSync.Master/Package_Debug
/Sitecore.SharedSource.DataSync.Master/Release
/.svn
/packages
/Sitecore.SharedSource.DataSync.Examples.Master/Package_Debug
/Sitecore.SharedSource.DataSync.v11.suo
/Sitecore.SharedSource.DataSync.v12.suo
