<?xml version="1.0" encoding="utf-8"?>
<configuration  xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Add these if they are not added already-->
      <!--  MAIL SERVER SMTP - Smtp server --><!--
      <setting name="MailServer">
        <patch:attribute name="value"></patch:attribute>
      </setting>
      --><!--  MAIL SERVER USER - If the SMTP server requires login. --><!--
      <setting name="MailServerUserName">
        <patch:attribute name="value"></patch:attribute>
      </setting>
      --><!--  MAIL SERVER PASSWORD - If the SMTP server requires login, enter the password in this setting --><!--
      <setting name="MailServerPassword">
        <patch:attribute name="value"></patch:attribute>
      </setting>
      --><!--  MAIL SERVER PORT --><!--
      <setting name="MailServerPort">
        <patch:attribute name="value">25</patch:attribute>
      </setting>-->
      <!-- Add these if they are not added already-->
    </settings>
    <commands>
      <command name="sharedsource:datasyncwizard" type="Sitecore.SharedSource.DataSync.Shell.Commands.DataSyncWizardCommand,Sitecore.SharedSource.DataSync" />
      <command name="sharedsource:fromfiledatasyncwizard" type="Sitecore.SharedSource.DataSync.Shell.Commands.FromFileDataSyncWizardCommand,Sitecore.SharedSource.DataSync" />
    </commands>
  </sitecore>
</configuration>
